nav a.active {
  background: linear-gradient(to right, #632ee3, #9f62f2);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
  font-weight: 600;
  position: relative;
}

nav a.active::after {
  content: "";
  position: absolute;
  bottom: -4px;
  left: 0;
  width: 100%;
  height: 2px;
  background: linear-gradient(to right, #632ee3, #9f62f2);
  border-radius: 2px;
  transition: width 0.3s ease;
}
